.favorite__single {
  background-color: transparent;
  width: 80px;
  height: 90px;
  padding: 8px;
  position: relative;

  a {
    text-decoration: none;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      border-radius: 20px;
    }
  }
  &-name {
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  &-img {
    border-radius: 20px;
  }

  &-deletebtn {
    cursor: pointer;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -2px;
    margin-right: -2px;

    &:hover {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
      transform: translate(-4px, 4px);
    }
  }
}
